@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import 'sidebar.css';
@import 'navbar.css';

#article-wrapper{
	width: 900px;
	height: 100%;
	margin:0 auto;
	border-style:solid;
}

img{
	float: left;
	margin: 0 0 10px 10px;
}

#article-body{
	position:absolute;

}