@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import 'sidebar.css';
@import 'navbar.css';

#article-wrapper{
	padding-top: 100px;
	width: 900px;
	height: 100%;
	margin:0 auto;
	border-style:solid;
}

#article-photo-wrapper{
	float: left;
	margin: 0 0 10px 10px;
}

#article-body{
	white-space: pre-wrap;      /* CSS3 */   
   	white-space: -moz-pre-wrap; /* Firefox */    
   	white-space: -pre-wrap;     /* Opera <7 */   
   	white-space: -o-pre-wrap;   /* Opera 7 */
   	word-wrap: break-word;      /* IE */

}