#footer_bar {
	padding: 0px 0  5px 0;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

#footer_bar li {
	display: inline;
	list-style: none;
	margin: 0 0.0em 0 0.0em;
	color: white;
}

#footer {
	z-index:5;
	position: absolute;
	width: 900px;
	margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
	text-align: center;
	font-family: Georgia;
	background: white;
	border-top-style: double;
}

.btn_ft {
	font-family: Georgia;
	color: #0f020f;
	font-size: 10px;
	background: #ffffff;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
}

.btn_ft:hover {
	background: #8f9ea6;
	text-decoration: none;
}