/*main.css*/

h3 {
    margin-top: 0px;
}

#mBody {
	width: 66%;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 117px;
    padding-top: 10px;
	border-top: 1px solid #000;
}

#mBody a {
  color: inherit;
  text-decoration: inherit;
}

.leftColumns {
    float: left;
	width: 650px;
    border-left: 1px solid #d6d6d6;

}

.bigArticle {
    padding: 5px;
	width: 650px;
    border-bottom: 1px solid #d6d6d6;
}

.bigArticle:Hover {
    cursor: pointer;
}

.pcolumn {
    width: calc(50% - 5px);
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;

}

.ocolumn {
    width: calc(50% - 7px);
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-left: 1px solid #d6d6d6;
    box-sizing: border-box;

}

.scolumn {
    width: calc(32% - 7px);
    margin: 0 !important;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    box-sizing: border-box;
}

.miniPArticle, .miniOArticle, .miniSArticle {
    overflow:hidden;
}

.miniPArticle {
	width: 100%;
  border-bottom: 1px solid #d6d6d6;
}
.miniOArticle {
	width: 100%;
    border-bottom: 1px solid #d6d6d6;
}
.miniSArticle {
	width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.author {
	font-size: 12px;
}
.description {
}
.caption {
    float: right;
}

.bigThumb {
    float: right;
    margin: 5px;
}

.miniThumb {
    float: right;
    margin: 5px;
}
