.btn {
	font-family: Georgia;
	color: #0f020f;
	font-size: 20px;
	background: #ffffff;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
}

.btn:hover {
	background: #8f9ea6;
	text-decoration: none;
}

#navBar {
	padding: 0px 0  5px 0;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

#navBar li {
	display: inline;
	list-style: none;
	margin: 0 0.0em 0 0.0em;
	color: white;
}

#header {
	position: fixed;
	width: 100%;
    top: 0px;
    z-index: 1;
	text-align: center;
	font-family: Georgia;
	background: white;
	border-bottom-style: double; 
}