/*MAIN STYLESHEET*/
@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


.sidebarThumb {
    float: left;
    margin: 10px;
}

.vertical-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

}

/*Sidebar button*/
.sidebar-button-text {

    /*width: 50%;*/
    font-size: 15px;
    margin-top: 93px;
    /*margin-left: 5px;*/

}

#sidebar_toggle_wrapper > .btn{
    background-color: #D8DBDF;
    border:none;
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
    border-right: solid;
    border-color: #CACED3;
}
#sidebar_toggle_wrapper > .btn:hover{
    background-color: #8f9ea6;
}

#sidebar_toggle_wrapper{
    position: fixed;
    margin-top: 300px;
	right: 0px;
    width: 30px;
    height: 160px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar_toggle_wrapper.toggled{
    right: 300px;
}

.menu_toggle{
    height: 100%;
}



/*Sidebar/Wrapper description*/
#wrapper {
    z-index: 1;
    padding-top:0px;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled {
    padding-right: 300px;
}


#sidebar-wrapper {
    z-index:100;
    position: fixed;
    right: 300;
    width: 0;
    height: 100%;
    margin-right: -300px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-left: none;
/*    border-size:1px;
    border-color:rgba(220, 220, 220, 0.8);
*/    background-color: #F4F5F6;

}


#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}



/* Sidebar Styles */

.main_link {
    border: solid;

}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;

    text-indent: 20px;
    line-height: 40px;

    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-stub {
    color:black;
}

.sidebar-stub:hover {
    text-decoration: none;
    color: black;
    background-color: #8f9ea6;
}

.sidebar-stub:active, .sidebar-stub:focus a{
    text-decoration: none;
    color:black;
}

.sidebar-nav > .sidebar-stub a{
    text-decoration: none;
    color: black;
}

.sidebar-nav > .sidebar-brand a{
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a{
    color: black;
}

.sidebar-nav > .sidebar-brand:hover a{
    color: black;
    background-color: none;
}





